@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-text-primary: #495f6d;
  --color-text-secondary: #4a606f;
  --color-accent: #1cc7c2;
  --color-accent-hover: #1ed6d0;
  --color-link-hover: #f3bcbd;
  --color-bg-light-yellow: #f9e7b6;
  --color-bg-card-yellow: #f8dba9;
  --color-bg-dark-blue: #495f6d;
  --color-bg-light-blue: #ddefee;
  --color-form-button: #afd7b5;
  --color-form-button-hover: #c4e2c9;
  --color-nav-white: #f8fcfc;
  --gutter: 1.5rem;
  --max-width: 1200px;
  --radius: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: var(--color-nav-white);
  z-index: 999;
}

/* section {
  background: transparent;
  transition: background-color 0.6s ease;
  min-height: 100vh;
} */

/* #uno, #due, #recensioni, #contatti {
  min-height: 100vh;
} */

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-nav-white);
  z-index: 999;
  box-shadow: none;
  transition: box-shadow 0.3s ease;
  padding: 0.8rem 0rem;
}

.custom-navbar.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  z-index: 1001;
}

.hamburger {
  color: var(--color-text-primary);
  display: flex;
  position: relative;
  font-size: 2rem;
  /* transition: all 0.3s ease; */
}

/* .hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: var(--color-text-primary);
  transition: all 0.3s ease;
}
.hamburger::before {
  transform: translateY(-8px);
}
.hamburger::after {
  transform: translateY(8px);
} */

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-nav-white);
  padding: 1rem;
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 998;
}

.btn-nav {
  padding: 0.8rem 1rem;
}

.nav-link {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--color-text-primary);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--color-link-hover);
}

/* Toggle active */
.nav-menu.active {
  display: flex;
}

/* Large screens */
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: static;
    box-shadow: none;
    padding: 0;
    gap: 2rem;
    width: auto;
    margin-left: auto; /* per spingerlo a dx */
  }
  /* .custom-navbar {
    display: flex;
    justify-content: end;
  } */
  .nav-link {
    margin-bottom: 0px;
    font-weight: 600;
    color: var(--color-text-primary);
    text-decoration: none;
  }
}

/* ..........  */

p {
  margin-bottom: 0px !important;
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 1rem;
}

.logo {
  height: 2.5rem;
}

.link-pink {
  font-weight: 600 !important;
}

.link-pink:hover {
  color: var(--color-link-hover) !important;
  transition: 0.2s;
  /* margin-bottom: 1rem; */
}

.bottone {
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--color-accent) !important;
  color: white !important;
  border-radius: var(--radius);
  cursor: pointer;
  border: none;
}

.bottone:hover {
  background-color: var(--color-accent-hover) !important;
  transform: scale(1.04);
  transition: 0.4s;
}

.bottone:active {
  transform: scale(1);
  transition: 0.4s;
}

#titolo {
  background-image: url("img/sfondo.webp");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 40rem;
}

@media (max-width: 768px) {
  #titolo {
    background-position: 50% 50%;
    height: 34rem;
  }
}

#titolo h2 {
  margin-bottom: 0px !important;
  /* position: relative;
    bottom: 16rem; */
  line-height: 2.5rem;
  color: var(--color-bg-dark-blue);
  font-size: 1.5rem;
  margin-top: 5rem;
}

@media (max-width: 768px) {
  #titolo h5 {
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }
}

h1 {
  font-size: 5rem !important;
  font-weight: 700 !important;
  padding-top: 10rem !important;
  color: var(--color-text-primary) !important;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 5rem;
}

h1 span {
  color: #4a606fb1 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-size: 3rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.4rem !important;
    padding-top: 6rem !important;
  }
}

@media (max-width: 768px) {
  h1 span {
    font-size: 2.8rem;
  }
}

#uno {
  background-color: #495f6d;
  padding-bottom: 5rem;
  padding-top: 4rem;
  height: 42rem;
}

@media (max-width: 768px) {
  #uno {
    height: 110rem;
  }
}

#uno h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #e7d0e0;
}

.card-hover-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Prima card */
.card-primary {
  background-color: var(--color-nav-white);
  color: var(--color-text-primary);
  padding: 2rem;
  border-radius: 16px;
  transition: box-shadow 0.3s ease;
}

/* Seconda card (inizialmente nascosta) */
.card-secondary {
  background-color: var(--color-nav-white);
  color: var(--color-text-primary);
  padding: 2rem;
  border-radius: 16px;
  max-height: 0;
  opacity: 0;
  z-index: 500;
  overflow: hidden;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  transition: max-height 0.8s ease, opacity 0.3s ease, transform 0.8s ease;
  transform: translateY(-10px);
}

#ale {
  /* width: 28%; */
  border-radius: 16px;
  margin-top: 3rem;
  /* margin-top: 14rem; */
  transition: 0.4s;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 12px 12px 0px 0px var(--color-form-button-hover);
}

#ale:hover {
  transform: scale(1.05);
  box-shadow: 18px 18px 0px 0px var(--color-form-button-hover);
}

@media (max-width: 768px) {
  #ale {
    position: static;
    width: 100%;
    border-radius: 1.4em;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}

#due {
  background-color: #f9e7b6;
  /* height: 40rem; */
  padding-bottom: 5rem;
  padding-top: 10rem;
}

#due button {
  width: 100%;
  padding: 1.2rem 2rem;
}

@media (max-width: 768px) {
  #due {
    padding-top: 4rem;
  }
}

#due h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #707ea1;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.carta {
  /* background-image: linear-gradient(#F8DBA9, #F3BCBD); */
  background-color: #f8dba9;
  height: 22rem;
  padding: 1.5rem;
  border-radius: 1.4em;
  transition: 0.4s;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.carta:hover {
  transform: scale(1.05);
}

.badge-titolo {
  /* display: inline; */
  color: #707ea1;
  /* background-color: #707EA1; */
  /* border-radius: 14px; */
  /* padding: 0.3rem; */
  /* padding-left: 16px;
    padding-right: 16px; */
  /* position: relative; */
  /* top: -2.7rem;
    left: -2.7rem; */
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
}

.testo-c {
  margin-top: 1rem;
}

#recensioni {
  background-color: #ddefee;
  /* height: 45rem; */
  padding-bottom: 8rem;
}

#recensioni h3 {
  font-size: 4rem;
  font-weight: 700;
  color: #7cc9c0;
  padding-top: 4rem;
}

.stelle {
  width: 6rem;
}

.rep-card {
  background-color: white;
  opacity: 80%;
  padding: 1.5rem;
  border-radius: 1.4em;
  transition: 0.4s ease;
}

.rep-card:hover {
  transform: scale(1.05);
}

#recensioni button {
  width: 100%;
  padding: 1.2rem 2rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

/* FOOTER */

#contatti {
  padding-top: 4rem;
  background-color: var(--color-nav-white);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contattami {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4a606f;
}

.icone {
  color: #7cc9c0;
  margin-right: 0.4rem;
}

.list li {
  margin-top: 1rem;
}

.footer-link {
  color: #495f6d;
  text-decoration: none;
  font-weight: 600 !important;
}

.footer-up {
  margin-bottom: 3rem;
}

#madeby {
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#madeby a {
  color: #4a606f;
}

#madeby a:hover {
  color: #f3bcbd !important;
  transition: 0.2s;
}

/* FORM */

/* #nome {
    width: 100%;
} */

#messaggio {
  height: 7rem;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #4a606f;
}

input {
  border-radius: 8px;
  padding: 0.6rem;
  border: 1px solid #a6abbb;
  width: 100%;
  outline: #afd7b5 !important;
}

/* input:focus {
    border: 3px solid #a6abbb !important;

} */

textarea {
  border-radius: 8px;
  padding: 0.3rem;
  border: 1px solid #a6abbb;
  width: 100%;
  height: 18rem;
  resize: none !important;
  outline: #afd7b5;
}

#formbutton {
  background-color: #afd7b5;
  color: #4a606f;
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.4s;
  border: none !important;
}

#formbutton:hover {
  background-color: #c4e2c9;
  transform: scale(1.02);
}

#formbutton:hover {
  background-color: #c4e2c9;
  transform: scale(1.02);
}

/* WEBKIT */

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: var(--text);
  transition: background-color 5000s ease-in-out 0s;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  /* border-color: var(--accent); */
  box-shadow: 0 0 0 3px rgba(255, 111, 97, 0.2);
  /* glow soft */
  transition: all 0.2s ease;
}

/* ----- RESPONSIVE ----- */

@media only screen and (max-width: 600px) {
  #titolo {
    background-image: url("img/mobile_ale.webp") !important;
    background-size: cover;
    background-position: right;
    height: 660px;
  }
}

@media only screen and (max-width: 767px) {
  #titolo {
    /* background-image: url('img/cover-mobile.webp') !important; */
    width: 100%;
    /* background-size: 100%; */
  }

  #titolo h2 {
    margin-bottom: 2rem !important;
    line-height: 2rem;
    color: #495f6d;
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  #uno h3 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  #due h3 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  #recensioni h3 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  #ale {
    width: 90%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  #ale {
    position: static;
    width: 50%;
    margin-top: 4rem !important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .carta {
    height: 24rem;
  }
}

/* ANIMAZIONI  */

.element-appear {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.element-appear.in-view {
  opacity: 1;
  transform: translateY(0);
}

.element-appear.out-view {
  opacity: 0;
  transform: translateY(60px);
}

.element-appear-right {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.element-appear-right.in-view {
  opacity: 1;
  transform: translateX(0);
}

.element-appear-right.out-view {
  opacity: 0;
  transform: translateX(60px);
}

.element-appear-left {
  opacity: 0;
  transform: translateY(-60px);
  transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.element-appear-left.in-view {
  opacity: 1;
  transform: translateX(0);
}

.element-appear-left.out-view {
  opacity: 0;
  transform: translateX(-60px);
}

.delay-0.in-view {
  transition-delay: 0s;
}
.delay-1.in-view {
  transition-delay: 0.2s;
}
.delay-2.in-view {
  transition-delay: 0.4s;
}

/* RESPONSIVE x2  */

@media (max-width: 768px) {
  #titolo {
    background-position: 50% 50%;
    height: 34rem;
  }
  .card-secondary {
    max-height: none !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    overflow: visible;
  }
  #contatti {
    text-align: center;
  }
  #contatti label {
    display: flex;
    justify-content: left;
  }
  .contattami {
    margin-top: 2rem;
  }
}
